{% extends "alt_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block main %}
{% if validlink %}
<br>
<div class="col-sm-6 col-sm-offset-3">
	<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
	<form method="post">
	{% csrf_token %}
	{{ form|crispy }}
	{{ form.new_password1.errors }}
	{{ form.new_password2.errors }}
	<p><input type="submit" class="btn btn-default" value="{% trans 'Change my password' %}" /></p>
	</form>
</div>
{% else %}
<br>
<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}
{% endblock %}
