{% extends "base.html" %}

{% block main %}
<br>
<br>
<div class="col-sm-6 col-sm-offset-1">
	<ul>
		<li>
			<div>
				<h4>What is Green E-learning?</h4>
				<p>Green E-learning is a simple teaching portal. After the signup you can go and <a href="/courses/">start learning</a></p>
			</div>
		</li>
		<br>
		<li>
			<div>
				<h4>How does it work?</h4>
				<p>The signup process is really simple, just click <a href="/user_auth/register">register</a> and fill out Your info.</p>
				<p>Depending on wheter You're signing up as a professor or a student, the steps mildly differ:</p>
				<ol>
					<li>
						<p>Students - You're good to go after registering.</p>
					</li>
					<li>
						<p>Professors - You will recieve an email from our team, just follow the instructions.
						<p>However, the signup process for professors can take up to a week.</p>
						</p>
					</li>
				</ol>
			</div>
		</li>
		<br>
		<li>
			<div>
				<h4>What made it happen?</h4>
				<p>Green E-learning was made during ExtensionEngine's outreach titled SpringCamp, meant to be a very simplified version of their own effort - edX.</p>
				<p>The idea was to learn a bit about <a href="https://www.djangoproject.com/">Django</a>, <a href="https://www.python.org/">Python</a>, and generally about web development.</p>
				<p>If You're not yet familiar with ExtensionEngine's edX, You should definitely <a href="https://www.edx.org/">check it out!</a>
			</div>
		</li>
		<br>
		<li>
			<div>
				<h4>Who are we?</h4>
				<p>Green E-learning was made by two people - Ana Mamić and Dragan Bobaš with the guidence of their mentor - Marko Jevtić.</p>
				<p>Ana and Dragan are students at the University of Split and Marko is a developer for ExtensionEngine.</p>
				<p>You can always <a href="/contact/">contact</a> them</p>
			</div>
		</li>
</div>
{% endblock %}