{% extends "base.html" %}

{% block main %}
<br>
<br>
<div class="col-sm-6 col-sm-offset-3">
	<div>
		<h5>Ana Mamić</h5>
		<ul>
			<li>
				<p>email: amamic@pmfst.hr</p>
			</li>
			<li>
				<p>tel: +385 95 557 1023</p>
			</li>
		</ul>
	</div>
	<div>
		<h5>Dragan Bobaš</h5>
		<ul>
			<li>
				<p>email: dragan.bobas@gmail.com</p>
			</li>
			<li>
				<p>tel: +385 97 612 7699</p>
			</li>
		</ul>
	</div>
	<div>
		<h5>Marko Jevtić</h5>
		<ul>
			<li>
				<p>email:mjevtic@extensionengine.com </p>
			</li>
			<li>
				<p>tel: +385 98 186 6098</p>
			</li>
		</ul>
	</div>
	
</div>
{% endblock %}